body {
    background-color: #ffffff;
    font-family: veranda, sans-serif;
}

h1,
h2 {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: #CE1126;
    text-decoration: underline;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 65px;
}

.position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.playercard {
    width: 30%;
    height: auto;
    aspect-ratio: 3 / 4;
    margin-bottom: 25px;
    box-shadow: 15px 15px 15px #000000;
    text-align: center;
    border-radius: 10%;
    /* flex-basis: 30%; */

}

.playercard .image {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 10px solid black;
    border-bottom: none;
}

img {
    height: 100%;
    width: 100%;

}

.playercard .nametag {
    height: 5%;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    justify-content: center;
}

h3 {
    margin: 0;
    font-size: 1rem
}

.playercard .stats {
    height: 45%;
    width: 100%;
    justify-content: center;
    align-content: flex-start;
    font-size: .75em;
    background-color: #CE1126;
    box-sizing: border-box;
    border: 10px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    align-self: center;
    border-collapse: collapse;
    width: 95%;
}

th,
td {
    border: 1px solid black;

}

th {
    background-color: black;
    color: #ffffff;
}

td {
    background-color: #ffffff;
    color: #000000;
}